/* Fonts for Github / Twitter icons */
@font-face {
      font-family: 'fontello';
      src: url('../fontello/font/fontello.eot?35555632');
      src: url('../fontello/font/fontello.eot?35555632#iefix') format('embedded-opentype'),
           url('../fontello/font/fontello.woff?35555632') format('woff'),
           url('../fontello/font/fontello.ttf?35555632') format('truetype'),
           url('../fontello/font/fontello.svg?35555632#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
}

.fontello-icon {
    font-family: 'fontello' !important;
    text-decoration: none;
    color: inherit;
    &:hover {
        opacity: 0.8;
        color: inherit;
    }
}

* { box-sizing: border-box; }
html {
  height: 100%;
  box-sizing: border-box;
}
body {
    position: relative;
    margin: 0;
    padding-bottom: 8rem;
    min-height: 100%;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea, select {
    border-radius: 0;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    border-radius: 0;
}

label {
    display: inline-block;
    font-weight: normal;
}

h1, h2, h3, h4, h5 { font-family: 'Courier', monospace; }

/* ----------------------------- */

$success_green: #cfff9f;
$verified_color: #e8ffd4;
$error_red: #ffbbb3;
$message_yellow: #fff59d;
$grey_1: #efefef;
$border_grey: #e1e1e1;

.container {
    max-width: 1200px;
    @media screen and (max-width: 768px) {
        width: 90%
    }
}

header {
    background: url('../header.jpg') no-repeat;
    background-size: fit;
    background-position: 0 -100px;
    margin-bottom: 2em;

    .container {
        padding: 1em 0;

        h1 {
            margin: 0;
            font-family: 'Courier', monospace;
            color: rgba(255, 255, 255, 0.9);
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #ffffff;
        margin-top: 0.5em;
        padding-top: 0.5em;

        .nav-link {
            font-family: 'Courier', monospace;
            color: rgba(255, 255, 255, 1.0);
            text-decoration: none;
            text-transform: uppercase;
            margin-right: 1.5em;

            &:hover {
                color: rgba(255, 255, 255, 0.5);
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .social-links .nav-link {
            margin-right: 0;
        }
    }
}

th { vertical-align: bottom; }
td { vertical-align: top; }
th, td {
    padding: 0.25em 0.5em;
}

.site-message {
    padding: 1em;
    margin-bottom: 2em;
    background: $message_yellow;

    > p:last-child { margin-bottom: 0; }
}

/* The section */
#market-data {
    @media (min-width: 550px) {
        > .container > .row {
            display: flex;
            align-items:center
        }
        h5:first-of-type { margin-top: -2em; }
    }
}

/* The component */
.market-data {
    font-size: 10pt;

    table { width: 100%; }
    th.roles { min-width: 180px; }

    tr.verified { background-color: $verified_color; }
    .data-submitted { min-width: 80px; }
    tr:last-of-type td { border-bottom: none; }

    /* Mobile Table */
    @media screen and (max-width: 768px) {
        thead { display: none; }
        td, tr {
            display: block;
            width: 100%;
            border: none;
        }
        tr {
            padding: 0.25em 0;
            &:nth-of-child(2n),  { background: #ffffff; }
            &.verified:nth-child(2n) { background: #e8ffd4; }
            &:nth-child(2n+1) { background: $grey_1; }
            &.verified:nth-child(2n+1) { background: darken(#e8ffd4, 5%); }
        }
        td {
            padding: 0 0.25em;
            &:before {
                display: inline-block;
                font-weight: bold;
                margin-right: 0.25em;
            }
            &.salary:before { content: 'Salary:' }
            &.location:before { content: 'Employer Location:' }
            &.roles:before { content: 'Roles:' }
            &.techs:before { content: 'Techs:' }
            &.employment-type:before { content: 'Employment Type:' }
            &.perks:before { content: 'Perks:' }
            &.years-experience:before { content: 'Years Exp.:' }
            &.education:before { content: 'Education:' }
            &.years-with-current-employer:before { content: 'Years w. Current Employer:' }
            &.lifetime-employers:before { content: 'Lifetime Employers:' }
            &.date-submitted:before { content: 'Date Submitted:' }
        }
    }

    .controls {
        button {
            margin-right: 0.5rem;
            &:last-of-type { margin-right: 0rem; }
        }
    }

    > .filters {
        margin-bottom: 1rem;

        collapsable-filter {
            > .controls .indicator {
                min-width: 2rem;
            }

            > .content {
                margin: 1rem 0rem 1rem 2rem;
            }

            &:last-of-type > .content { margin-bottom: 2rem; }
            label { vertical-align: top; }
        }
   }
 }

/* Submissions */
#submission {
    label {
        vertical-align: top;

        .text {
            #submission h6 { font-size: 10pt; }
        }
    }

    .email-status {
        margin: -10px 0 10px 0;
        font-weight: bold;
    }
}

.tags-section {
    margin-bottom: 2em;
}
.tag {
    background: $grey_1;
    float: left;
    margin: 0 3px 3px 0;
    padding-right: 5px;

    &:hover { cursor: pointer; }
    .action {
        display: inline-block;
        height: 100%;
        padding: 0 0 0 5px;
        border: 0;
        margin: 0;
    }
    &.custom:hover {
        cursor: default;

        .action { cursor: pointer; }
    }
    &.custom input {
        margin: 0;
        border: none;
        background: none;
    }
    &.custom input:focus { outline: none; }
}

.tag.value-tag {
    input {
        margin: 0;
        border: none;
        background: none;
    }
    input:focus { outline: none; }
    .value {
        margin-left: 0.25em;
        padding-left: 0.25em;
        border-left: 2px solid rgba(0, 0, 0, 0.25);
    }
}

.perks-select, .role-select, .tech-select {
    h6 { margin-bottom: 0; }
    hr { margin: 1em 0; }
}

.selected-roles, .selected-techs, .selected-perks {
    .tag { background: $success-green; }
}

.input-container > * {
    vertical-align: top;
}

/* Parsley */
.parsley-errors-list {
    color: #ff1c00;

    li {
        list-style: none;
    }
}

/* Server errors */
.server-errors {
    padding: 1em;
    background: $error_red;

    ul {
        margin-bottom: 0;

        li { padding-left: 1em; }
        li:last-of-type { margin-bottom: 0; }
    }
}

/* Submission success notification */
.submission-success {
    padding: 1em;
    background: $success_green;

    p:last-of-type {
        margin-bottom: 0;
    }
}

footer {
    padding: 1em 0;
    background: #f0f0f0;
    color: #505050;
    height: 55px;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/* About Page, Resources Page */
.about, .resources {
    li { margin-bottom: 0; }
}

/* Resource Page */
.resources #company_list ul {
    @media (min-width: 550px) {
        column-count: 2;
    }

    @media (min-width: 750px) {
        column-count: 3;
    }
}

/* Section: Various Components */

/* Subsection: Selectors */
tag-selector {
    > .selected-items {
        tag .tag { background: $success-green; }
    }
}

/* Subsection: Filters */
collapsable-filter {
    display: block;

    > .controls {
        display: inline-block;
        font-family: 'Courier', monospace;
        &:hover { cursor: pointer; }

        > .indicator, > .label {
            display: inline-block;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    tag-selector {
        > hr { display: none; }
    }
}