
{% extends "base.html" %}
{% block content %}
<div class="container about">
    <h4>About</h4>
    <p>{{ config['DEPLOYMENT_NAME'] }} is a salary sharing and market information tool for {{ config['REGION_NAME'] }}'s
        tech industry.
    <p>You can report any bugs and issues via <a href="https://github.com/olestourko/open-tech-pay">Github</a>.</p>
    <hr>
    <section id="why_share">
        <h5>Why Share?</h5>
        <p>By sharing your pay, you help make the market fairer and more competitive.</p>
        <p>Pay secrecy is very common in Canada and the United States. Many of us are hesitant to discuss salary,
            and are often discouraged from doing so. This creates a situation in which one party has far more information
            than the other. Employees with similar experience, skills, and output often earn wildly different wages
            based on when they were hired and how well they negotiated.</p>
        <p><a href="https://www.youtube.com/watch?v=7xH7eGFuSYI">Here</a> is a great video explaining this information gap.</p>

        <p style="margin-bottom: 0.5em;">There are various benefits to having publicly available pay information:</p>
        <ul>
            <li>Gives employees a more equal playing field in pay negations.</li>
            <li>Allows employers to make informed hiring and pay decisions.</li>
            <li>Helps job seekers objectively value offers.</li>
            <li>May help avoid gender-based pay differences.</li>
        </ul>
    </section>
    <section id="who">
        <h5>Who Runs This?</h5>
        <p>I'm just a local developer that thought this would be a fun and useful project.</p>
    </section>
</div>
{% endblock %}