
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
        <title>OpenPay - Tech industry salary sharing</title>
        <script src="{{ url_for('static', filename='packages/knockout/build/output/knockout-latest.js') }}"></script>
        <script src="{{ url_for('static', filename='packages/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='packages/parsleyjs/dist/parsley.min.js') }}"></script>
        <script src="{{ url_for('static', filename='packages/requirejs/require.js') }}"></script>
        <script>
        require.config({
            paths: {
                'text': '{{ url_for('static', filename='packages/requirejs-text/text') }}'
            },
            urlArgs: "bust=" + (new Date()).getTime() // Disable caching
        });
        </script>
        <link rel="stylesheet" href="{{ url_for('static', filename='packages/skeleton-css/css/normalize.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='packages/skeleton-css/css/skeleton.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}"/>
    </head>
    <body class="container">
        <br>
        <h3>OpenPay London</h3>
        <p>Tech industry salary sharing - closing the pay information gap. This project aims to freely provide compensation
            data to students, employees, and employers in the local tech industry so they can make informed career and hiring decisions.</p>
        <hr>
        <market-data params="
        message_bus: message_bus,
        submissions: submissions
        "></market-data>
        <create-submission params="
        message_bus: message_bus,
        email: email,
        pay_ranges: pay_ranges,
        employment_types: employment_types,
        years_with_employer: years_with_current_employer,
        roles: roles,
        techs: techs,
        educations: educations,
        years_experience: years_experience,
        number_of_employers: number_of_employers,
        selected_pay_range: selected_pay_range,
        selected_perks: selected_perks,
        selected_employment_type: selected_employment_type,
        selected_roles: selected_roles,
        selected_techs: selected_techs,
        selected_education: selected_education
        "></create-submission>
        <footer>
            <script src="{{ url_for('static', filename='application.js') }}"></script>
        </footer>
    </body>
</html>