
{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='application.js') }}"></script>

<div class="container">
    <h4>Closing the Pay Information Gap</h4>
    <p>This project aims to provide detailed compensation data to students, employees, and employers in the
    {{ config['REGION_NAME'] }} tech industry.<br>
    <strong>Please consider sharing your compensation data.</strong> By doing so, you will
        help create a <a  href="{{ url_for('about', _external=True) }}">fairer and more competitive</a> market.</p>
    <hr>
</div>

<section id="market-data">
    <div class="container">
        <market-data params="
        message_bus: message_bus,
        submissions: submissions
        "></market-data>
        <hr>
    </div>
</section>
<section id="submission">
    <div class="container">
        <!-- ko if: !submitted() -->
            <h5>Submit Yours</h5>
                <p>Once you've submitted, you will be sent an email with a confirmation link to complete your submission.<br>
                In order to keep submissions consistent, please read the <a href="#submission-guidelines">submission guidelines</a> before continuing.
                </p>
                <create-submission params="
                message_bus: message_bus,
                locations: locations,
                employment_types: employment_types,
                perks: perks,
                roles: roles,
                techs: techs,
                educations: educations
                "></create-submission>
            <hr>
        <!-- /ko -->
        <!-- ko if: submitted() -->
            <div style="display: none;" data-bind="visible: submitted()" class="row submission-success">
                <p><strong>Submission succesful!</strong> A confirmation link has been sent to the email you entered.
                    <strong>Check your spam folder</strong> if you can't see it. Your submission will appear in the market data once you've confirmed.</p>
            </div>
            <hr>
        <!-- /ko -->
        <h5 id="submission-guidelines">Submission Guidelines</h5>
        <ol>
            <li>All compensation is valued in pre-tax Canadian dollars. If you receive compensation in a foreign currency, please convert it to CAD at the current exchange rate.</li>
            <li>Round years experience &amp; years with current employer to the nearest integer. 5 months becomes 0 years, 6 months becomes 1 year.</li>
            <li>Only select roles and tech that you spend a significant amount of time with. For example; don't include Ruby if you occasionally run scripts others have made.
                Do include Ruby if you write scripts yourself.</li>
            <li>If you choose to share the value of your non-salary compensation, please value the highly tangible ones at the maximum amount, and the less tangible ones at their values to you personally.
                You can round if you don't want to share the exact value, too.<br><br>
                Here's some rough guidelines for valuing non-salary benefits:<br>
                <strong>Bonuses:</strong> The yearly average over the past years.<br>
                <strong>RRSP Matching / Profit Sharing:</strong> The maximum yearly benefit.<br>
                <strong>Food / Drinks</strong> Ideally, the cost to your employer (you can probably find this on your T4). Otherwise, how much it saves you per year.<br>
                <strong>Professional Development &amp; Expense Reimbursements:</strong> How much you use per year.<br>
                <strong>Employee Discount:</strong> How much it saves you per year.<br>
            </li>
            <li>Please only include years of work experience. Internships while in school count as work experience.</li>
        </ol>
    </div>
</section>
{% endblock %}