
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'partials/google_analytics.html' ignore missing %}

        <meta charset="UTF-8">
        {% if title is defined %}
            <title>{{ title }} | {{ config['DEPLOYMENT_NAME'] }}</title>
        {% else %}
            <title>Tech Salaries | {{ config['DEPLOYMENT_NAME'] }}</title>
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ config['DEPLOYMENT_NAME'] }} - Closing the Pay Information Gap"/>
        <meta property="og:description" content="This project aims to provide detailed compensation data to students, employees, and employers in the {{ config['REGION_NAME'] }} tech industry."/>
        <meta property="og:image" content="{{ url_for('static', filename='opengraph-header.png', _external=True) }}" />

        <script src="{{ url_for('static', filename='packages/knockout/build/output/knockout-latest.js') }}"></script>
        <script src="{{ url_for('static', filename='packages/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='packages/parsleyjs/dist/parsley.min.js') }}"></script>
        <script src="{{ url_for('static', filename='packages/autonumeric/dist/autoNumeric.min.js') }}"></script>
        <script src="{{ url_for('static', filename='packages/requirejs/require.js') }}"></script>
        <script>
        require.config({
            paths: {
                'text': '{{ url_for('static', filename='packages/requirejs-text/text') }}'
            },
            urlArgs: "bust=" + (new Date()).getTime() // Disable caching
        });
        </script>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='packages/skeleton-css/css/normalize.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='packages/skeleton-css/css/skeleton.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/app.css') }}"/>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <h1>$_{{ config['DEPLOYMENT_NAME'] }}</h1>
                <nav>
                    <a href="{{ url_for('index', _external=True) }}">Market Data</a>
                    <a href="{{ url_for('about', _external=True) }}">About</a>
                    <a href="{{ url_for('privacy_policy', _external=True) }}">Privacy Policy</a>
                </nav>
            </div>
        </header>
        {% if config.get('MESSAGES') %}
        <div class="container site-message">
            {% for message in config.get('MESSAGES') %}
                <p>{{ message|safe }}</p>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}{% endblock %}
    </body>
        <footer>
            <div class="container">
                <a href="https://github.com/olestourko/open-pay">View it on Github</a>
            </div>
        </footer>
    </body>
</html>