{% extends "base.html" %}
{% block content %}
<div class="container privacy-policy">
    <h4>Privacy Policy</h4>
    <hr>
    <p><strong>What information does OpenPay / LondonTechPay collect?</strong><br>
    The only personally identifiable information collected is your email address, which is used to confirm
    submissions and discourage multiple submissions from the same person.</p>

    <p><strong>How is collected information used?</strong><br>
    Submission information is used to populate the market view.
    Your email address will never be sold or otherwise shared with third parties.</p>
</div>
{% endblock %}