{% extends "base.html" %}
{% block content %}
<div class="container privacy-policy">
    <h5>Privacy Policy</h5>
    <hr>
    <p><strong>What information does {{ config['DEPLOYMENT_NAME'] }} collect?</strong><br>
    The only personally identifiable information collected is your email address, which is used to confirm
    submissions and discourage multiple submissions from the same person.</p>

    <p><strong>How is collected data used for?</strong><br>
    Submission information is used to populate the market view.
    Your email address will never be sold or otherwise shared with third parties.</p>
    <hr>
</div>
{% endblock %}