input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea, select {
    border-radius: 0;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    border-radius: 0;
}
label {
    display: inline-block;
    font-weight: normal;
}

h1, h2, h3, h4, h5 {
    font-family: 'Courier', monospace;
}


header {
    background: url('header.jpg') no-repeat;
    background-size: cover;
    background-position: 0 -100px;
    margin-bottom: 2em;
}
header .container {
    padding: 1em 0;
}
header .container h1 {
    margin: 0;
    font-family: 'Courier', monospace;
    color: rgba(255, 255, 255, 0.9);
}

th {
    vertical-align: bottom;
}

td {
    vertical-align: top;
}

th, td {
    padding: 5px;
}

.container {
    max-width: 1200px;
}

/* Market Data */
section#market-data {

}

.market-data { font-size: 10pt; }
.market-data label { float: right; }
.market-data thead th:nth-of-type(1) { min-width: 150px; }
.market-data thead th:nth-of-type(2) { min-width: 150px; }
.market-data thead th:nth-of-type(3) { min-width: 100px; }
.market-data thead th:nth-of-type(4) { min-width: 120px; }

/* Submissions */
section#submission {
    padding: 1em 0;
}

.tag {
    background: #efefef;
    float: left;
    margin: 0 3px 3px 0;
    padding-right: 5px;
}
.tag:hover { cursor: pointer; }
.tag .action {
    display: inline-block;
    height: 100%;
    padding: 0 0 0 5px;
    border: 0;
    margin: 0;
}

.tag:custom:hover { cursor: default; }
.tag.custom input {
    margin: 0;
    border: none;
    background: none;
}
.tag.custom input:focus { outline: none; }

.perks-select h6, .role-select h6, .tech-select h6 { margin-bottom: 0; }
.perks-select hr, .role-select hr, .tech-select hr { margin: 1em 0; }

.selected-roles .tag, .selected-techs .tag, .selected-perks .tag {
    background: #cbff9f;
}

.input-container > * {
    vertical-align: top;
}

footer {
    padding: 1em 0;
    background: #f0f0f0;
}

/* Parsley */
.parsley-errors-list { color: #ff1c00; }
.parsley-errors-list li {
    list-style: none;
}

/* Server errors */
.server-errors {
    padding: 1em;
    background: #ffbbb3;
}
.server-errors ul { margin-bottom: 0; }
.server-errors ul li { padding-left: 1em; }
.server-errors ul li:last-of-type { margin-bottom: 0; }

/* Submission success notification */
.submission-success {
    padding: 1em;
    background: #cbff9f;
}
.submission-success p:last-of-type {
    margin-bottom: 0;
}